{{ define "main" }}

<section class="splash-area-section" style="background-image: url('{{ site.Params.introBackground | absURL }}')">
	<div class="container">
		<div class="splash-area">
			<h2>{{ .Title }}</h2>
		</div>
	</div>
</section>

<div class="section section-inner gap">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-1">

				<div class="post-content">
					{{ .Content }}
				</div>

			</div>
		</div>
	</div>
</div>

{{ end }}
