{{ with .Site.Data.content.about_two }}
{{ if .enable }}

<section class="gap no-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="welcome">
          <img alt="img" src="{{ .image1 | absURL }}">
          <img alt="img" class="img-welcome" src="{{ .image2 | absURL }}">
          <img alt="dots" class="dots" src="/images/dots.png">
        </div>
      </div>
      <div class="col-xl-6 pl-75">
        <div class="heading design-enjoy">
          <h6>{{ .subtitle | safeHTML }}</h6>
          <h2>{{ .title | safeHTML }}</h2>
          <img alt="line" src="/images/headingline.png">
        </div>
        <div class="welcome-text">
          <h6 class="pt-4 pb-5">
            {{ .description | safeHTML }}
          </h6>
          {{ range .items }}
          <h5>{{ .title | safeHTML }}</h5>
          <p>{{ .text | safeHTML }}</p>
          {{ end }}
          <a href="{{ .link }}" class="themebtu">{{ .button }}</a>
        </div>
      </div>
    </div>
  </div>  
  <img class="w-100" alt="line" src="/images/line.jpg">
</section>

{{ end }}
{{ end }}
