{{ $footer := .Site.Params.footer }}
{{ $social := .Site.Params.social }}
{{ $header := .Site.Params.header }}
{{ $dateFormat := .Site.Params.dateFormat }}
{{ $numOfItems := .Site.Params.footer.news.numOfItems }}
{{ $posts := .Site.RegularPages }}

{{ with $footer }}

{{ "<!-- Footer -->" | safeHTML }}
<footer class="footer gap no-bottom" style="background-color: #222 ;">
	<div class="container">
	  <div class="row">
		<div class="col-xl-3 col-lg-4 col-md-6">
		  <div class="footer-logo">
			<a href="{{ .Site.BaseURL }}" title="{{ $header.logo.title }}"><img alt="{{ $header.logo.alt }}" src="{{ $header.logo.image | absURL }}"></a>
			<p>
			  {{ .description | safeHTML }}
			</p>
		  </div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6">
		  <div class="links">
			<h6>{{ .menu.title | safeHTML }}</h6>
			<ul>
			  {{ range .menu.list }}
			  <li><a href="{{ .link | absURL }}">{{ .title }}</a></li>
			  {{ end }}
			</ul>
		  </div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6">
		  <div class="latest-news">
			<h6>{{ .news.title | safeHTML }}</h6>
			<ul>
			  {{ range $index, $elem := first 2 (where $posts "Section" "blog") }}
			  <li{{ if eq $index 0 }}{{ else }} class="pt-4"{{ end }}>
				<p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
				<span>{{ .PublishDate.Format $dateFormat }}</span>
			  </li>
			  {{ end }}
			</ul>
		  </div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6">
		  <div class="latest-news">
			<h6>{{ .subscribe.title | safeHTML }}</h6>
			<p>{{ .subscribe.text | safeHTML }}</p>
			<form class="subscribe-form" action="{{ .subscribe.mailchimp.url }}" method="post" target="_blank">
				<input type="text" name="EMAIL" placeholder="{{ i18n "yourEmailAddress" }}">
				<input type="hidden" name="{{ .subscribe.mailchimp.key }}">
				<button type="submit">{{ i18n "go" }}</button>
			</form>
		  </div>
		</div>
	  </div>
	  <div class="footer-bottom">
		<p>{{ .copyright }}</p>
		<ul>
		  {{ range $social }}
		  <li><a href="{{ .url }}" target="_blank" title="{{ .title }}"><i aria-hidden="true" class="{{ .icon }}"></i></a></li>
		  {{ end }}
		</ul>
	  </div>
	</div>
</footer>

{{ end }}
