{{ with .Site.Data.content.hero_slider_two }}
{{ if .enable }}

<section class="hero-section-three">
  <div class="swiper-container herothreeswiper">
    <div class="swiper-wrapper">
      {{ range .slides }}
      <div class="swiper-slide">
        <div class="row align-items-center">
          <div class="col-xl-4 offset-xl-1">
            <div class="heading-boder">
              <h2>{{ .title | safeHTML }}</h2>
              <p>{{ .subtitle | safeHTML }}</p>
              <a href="{{ .link }}" class="themebtu full">{{ .button }}</a>
            </div>
          </div>
          <div class="col-xl-7">
            <div class="three-page-img">
              <img alt="img" class="w-100" src="{{ .image | absURL }}">
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="swiper-pagination two-style"></div>
  </div>
</section>

{{ end }}
{{ end }}
